@model E_learningFinalProject.Models.Semester

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Semester</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SemesterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SemesterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SemesterYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SemesterYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SemesterStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SemesterStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SemesterEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SemesterEndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SemesterID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
