@model E_learningFinalProject.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentFName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentFName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentLName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentLName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentDOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentDOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentAdd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentAdd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StudentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
