@model E_learningFinalProject.Models.SemesterSchedule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SemesterSchedule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SemesterID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SemesterID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfessorID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfessorID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MethodOfDelivery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MethodOfDelivery)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SemesterScheduleID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
